---
---
    
@import "bootstrap";

img { margin-bottom: 24px; 
     margin-top: 17px; 
    border-radius:2%;
}


body {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 1em;
	padding-top: 70px;
}

a {
    color: var(--link-color)
}

h1 {
	color: var(--heading-color)
}

h2 {
	color: var(--heading-color)
}

h3 {
	color: var(--heading-color)
}

h4 {
	color: var(--heading-color)
}

#theme-toggle{
	margin-top: 12px;
	margin-right:-10px;
	background-color: var(--heading-color);
	color: var(--main-text-color);
}

.navbar-default .navbar-brand {
    color: var(--main-text-color);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    // color: #333333;
	color: var(--main-text-color);
    background-color: transparent;
}

.navbar-default{
	background-color: var(--main-background-color);
}


.toggle-checkbox {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  .toggle-slot {
	position: relative;
	height: 35px;
	width: 60px;
	border: 5px solid #e4e7ec;
	border-radius: 10em;
	background-color: white;
	box-shadow: 0px 10px 25px #e4e7ec;
	transition: background-color 250ms;
	margin-top: 10px;
	margin-left: 45px;
  }
  
  .toggle-checkbox:checked ~ .toggle-slot {
	background-color: #374151;
  }
  
  .toggle-button {
	transform: translate(25px, 1.75px);
	position: absolute;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: #ffeccf;
	box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
	transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .toggle-button {
	background-color: #485367;
	box-shadow: inset 0px 0px 0px 0.75em white;
	transform: translate(1.75px, 1.75px);
  }
  
  .sun-icon {
	position: absolute;
	height: 20px;
	width: 20px;
	color: #ffbb52;
  }
  
  .sun-icon-wrapper {
	position: absolute;
	height: 20px;
	width: 20px;
	opacity: 1;
	transform: translate(2px, 2px) rotate(15deg);
	transform-origin: 50% 50%;
	transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
	opacity: 0;
	transform: translate(3px, 2px) rotate(0deg);
  }
  
  .moon-icon {
	position: absolute;
	height: 20px;
	width: 20px;
	color: white;
  }
  
  .moon-icon-wrapper {
	position: absolute;
	height: 20px;
	width: 20px;
	opacity: 0;
	transform: translate(25px, 2px) rotate(0deg);
	transform-origin: 50% 50%;
	transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
	opacity: 1;
	transform: translate(25px, 2px) rotate(-6deg);
  }

.navbar-default .navbar-nav>li>a {
    color: var(--heading-color);
}

.panel-footer{
	background-color: var(--panel-background-color);
}

figcaption {
    text-align: right;
    margin-top: -20px;
    margin-bottom: 20px;
}



/* Top navigation bar */


p.byline {
	text-align: center;
	font-size: 18px;
	line-height: 36px;
	margin-top: -24px;
	margin-bottom: 48px;
}


pubtit {
	font-weight: bold;
}

firstp {
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px; /* or 950px */
}

/* Home, News */
#newsid p {
	text-align: left;
}

#homeidtmp h1 {
	text-align: center;
}

#newsid img {
	margin-top: 6px;
	margin-bottom: 6px;
}

/* Team & Publications */
#gridid img { margin: 16px 22px 6px 0; border-radius:10%; box-shadow: 2px 2px 5px #888888 }
#homeid img { margin: 0 0 0 0; border-radius:5%; box-shadow: 0px 0px 0px #888888 }
#picid img { margin: 6px 3px 60px 6px; border-radius:1%; box-shadow: 2px 2px 5px #888888 }
#gridid .row { margin-bottom: 24px; }


/* Grid overrides */
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	padding-left: 16px;
	padding-right: 16px;
}

/* Grid overrides */
.col-sm-4 {
	padding-left: 26px;
	padding-right: 26px;
}


/* Carousel */

.carousel {
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

/* Dark Mode */

html, html[data-theme="light"] { 
	--light-text-color: rgb(72, 72, 74);
  	--link-color: rgb(0, 112, 201);
  	--main-background-color: rgb(255, 255, 255);
  	--main-text-color: rgb(51, 51, 51);
	--main-heading-color: rgb(51, 51, 51);
	--panel-background-color: rgb(245, 245, 245);
}

html[data-theme="dark"] {
		--light-text-color: rgb(199, 199, 204);
  		--link-color: rgb( 100, 210, 255);
  		--main-background-color: rgb(28, 28, 30);
  		--main-text-color: rgb(229, 229, 234);
		--main-heading-color: rgb(229, 229, 234);
		--panel-background-color: rgb(28, 28, 30);
	}

@media (prefers-color-scheme: dark) {
	html, html[data-theme="dark"] {
		--light-text-color: rgb(199, 199, 204);
  		--link-color: rgb( 100, 210, 255);
  		--main-background-color: rgb(28, 28, 30);
  		--main-text-color: rgb(229, 229, 234);
		--main-heading-color: rgb(229, 229, 234);
		--panel-background-color: rgb(28, 28, 30);  
	}
	
	html[data-theme="light"] { 
	--light-text-color: rgb(72, 72, 74);
  	--link-color: rgb(0, 112, 201);
  	--main-background-color: rgb(255, 255, 255);
  	--main-text-color: rgb(51, 51, 51);
	--main-heading-color: rgb(51, 51, 51);
	--panel-background-color: rgb(245, 245, 245); 
	}
}
