<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      

      <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}">COPS IG @ IIT BHU</a>

      </div>
  <nav id="navbar-collapse-1" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">

        

              {% assign links = site.data.navigation %}
              {% for link in links %}
                      {% assign class = 'active' %}
                      <!-- {% if page.url contains link.url %}
                              {% assign class = 'active' %}
                      {% endif %} -->
                      {% if link.sublinks %}
                              <li class="{{ class }}">
                                      <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
                                      <ul class="dropdown-menu">
                                              {% for sublink in link.sublinks %}
                                                      {% if sublink.title == 'separator' %}
                                                              <li role="separator" class="divider"></li>
                                                      {% else %}
                                                              <li>
                                                                      <a href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                                                              </li>
                                                      {% endif %}
                                              {% endfor %}
                                      </ul>
                              </li>
                              
                      {% else %}
                      <li class="{{ class }}">
                          <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                  </li>
          {% endif %}       
  {% endfor %}
        <!-- <li> -->
        <!-- <button id="theme-toggle" onclick="modeSwitcher()" style="cursor: pointer;"></button> -->

        <!-- </li> -->
        <head>
                <script src="https://code.iconify.design/1/1.0.4/iconify.min.js">   </script>
              </head>
              <label>
                      
                <input class='toggle-checkbox' type='checkbox' id="theme-toggle" onclick="modeSwitcher()" {checkBox}></input>
                <div class='toggle-slot'>
                  <div class='sun-icon-wrapper'>
                    <div class="iconify sun-icon" data-icon="feather-sun" data-inline="false"></div>
                  </div>
                  <div class='toggle-button'></div>
                  <div class='moon-icon-wrapper'>
                    <div class="iconify moon-icon" data-icon="feather-moon" data-inline="false"></div>
                  </div>
                </div>
              </label>
              <script src="/IG-website/js/dark-mode.js"></script>
              
  </ul>
  </nav>
  </div>
  </div>
  